@import url("./reset.css");

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  width: 50%;
}

.login-form {
  width: 100%;
  padding: 5rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid #dadce0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  overflow: auto;
}

button {
  width: max-content;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #1a73e8;
  border-radius: 0.5rem;
  cursor: pointer;
  border-style: none;
  border-width: 0;
}

button:hover {
  background-color: #1566d1;
}

button:active {
  background-color: #104fa2;
}

input {
  width: 100%;
  height: 3.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.invalid-login {
  color: #ff4d4d;
}

@media screen and (min-width: 800px) {
  input {
    width: 60%;
  }
}
